/* Table of Contents
    1. Global
    2. Navigation Bar
    2.5. Intro: Cover Photo
    3. Intro: Portrait and name
    4. Summary
    5. Experience section
    6. Involvements section
    7. Contact section
    8. Responsive Design
*/

/*
-----------1.GLOBAL SECTION--------------
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  position:relative;
  background: #FFFFFF;
  transition: .7s;
}

p {
  line-height: 1.5em;
}

.main-grid {
  margin: 0px 0px;
  padding: 0;
}

.section-title {
  text-align: center;
  color: black;
  font-family: 'Varela Round', 'Helvetica', 'Arial', serif;
  font-size: 3em;
  position: relative;
  font-weight:bolder;
}

.section-title span {
  display: inline-block;
  position: relative;
  z-index: 4;
}

.section-title span:before,
.section-title span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  top: 23px;
  width: 100px;
  z-index: 4;
}

.section-title span:before {
  right: 100%;
  margin-right: 25px;
}

.section-title span:after {
  left: 100%;
  margin-left: 25px;
}

/*
-----------2.NAVIGATION BAR--------------
*/

.nav-bar {
  margin: 0;
  padding: 0px auto;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  display: inline-block;

}

.nav,
.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.nav li {
  float: left;
  font-weight: bolder;
}

.demo li {
  float: right;
  font-weight:bolder;
}

.nav li a,
.demo li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  transition: 0.7s;
}

ul.nav li a:hover,
ul.demo li a:hover {
  color: #CCC;
}
/*
-----------2.5.INTRO: COVER PHOTO--------------
*/
.cover-photo {
  width: 100%;
  height: 100vh;
  background-image: url('MountainLandscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5;
  font-family: 'Varela Round', 'Helvetica', 'Arial', serif;
}

.cover-photo h1 {
  padding-top: 20vh;
  font-size: 4em;
  text-align: center;

}

.cover-photo h3 {
  font-size: 1.5em;
  text-align: center;
  padding: 0 15px;
}

.cover-photo h3 span {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.cover-photo h3 span:before,
.cover-photo h3 span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  top: 10px;
  width: 100px;
  z-index: 3;
}

.cover-photo h3 span:before {
  right: 100%;
  margin-right: 15px;
}

.cover-photo h3 span:after {
  left: 100%;
  margin-left: 15px;
}

/*
-----------3.INTRO: PORTRAIT AND NAME--------------
*/

.intro {
  background-color: #FFFFFF;
  margin: auto auto;
  display: none;
}

#intro-subtitle {
  font-size: 1.5em;
  color: #005e80;
}

.intro img {
  width: 100%;
  height: auto;
  max-width: 350px;
  border-radius: 100%;
  transition: .7s;
  padding: 30px 0px;
}

.intro {
  font-weight:bolder;
  color: black;
  margin: 0 auto;
  padding: 5px 30px 30px 30px;
  text-align: center;
}

/*
-----------4.SUMMARY--------------
*/

.summary {
  margin: 0 auto;
  padding: 30px 30px;
  max-width: 70%;
}

.summary-content {
  padding: 0px 30px;
}


/*
-----------5.EXPERIENCE--------------
*/

.experience {
  margin: 0 auto;
  padding: 30px 30px;
  max-width: 70%;
}

.experience-content {
  padding: 0px 30px;
}

.experience img {
  width: 100%;
  height: auto;
  max-width: 350px;
}

.job-title {
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
}

.job-description {
  text-align: justify;
}

#tevora,
#miramontes,
#readyforce,
#readyforce2 {
  margin: 0 auto;
  padding: 50px 0;
}

#experience-divider-one,
#experience-divider-two,
#experience-divider-three {
  margin: 0 auto;
  width: 90%;
  border-top: 4px solid rgba(0, 0, 0, 0.4);
}

.time-stayed {
  color: #005e80;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  display: block;
}

/*
-----------6.INVOLVEMENTS--------------
*/

.involvements {
  margin: 0 auto;
  padding: 30px 30px;
  max-width: 70%;
}

.involvements-content-content {
  padding: 0px 30px;
}


/*
-----------7.CONTACT--------------
*/

.contact {
  max-width: 70%;
  padding: 30px 30px;
  margin: 0 auto;
}

.contact-content {
  padding: 0px 30px;
}

.contact-content p {
  color: #005e80;
  font-weight: bolder;
  text-align: justify;
  font-size: 1.5em;
}

#linkedin-button {
  max-width: 100px;
}

/*
-----------8.RESPONSIVE--------------
*/

@media screen and (max-width: 420px) {
  .nav-bar {
    position: relative;
  }
  .summary-content {
    padding: 0px 10px;
  }
  .experience, .summary {
    max-width: 100%;
  }
  .involvements #uci-logo{
    display: none;
  }
  .involvements #involvements-text {
    width: 100%;
  }
  .involvements-content {
    padding: 0px;
  }
  .contact-content {
    padding: 0px 10px;
  }
  .job-description {
    text-align: left;
  }
  .experience-content {
    padding: 0px 0px;
  }

}

@media screen and (max-width: 720px){
  ul.demo {
    display: none;
  }
  .involvements #uci-logo {
    display: none;
  }
  .involvements #involvements-text {
    width: 100%;
  }
  .involvmenents-content {
    padding: 0px;
  }
  .contact-content {
    padding: 0px 10px;
  }
}


@media screen and (min-width: 1200px) {
  .intro img {
    max-width: 500px;
  }
  body {
    font-size: 1.2em;
  }
  .cover-photo {
    height: 140vh;
  }
}
